@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #ffffff;
    font-size: 40px;
    width: 100%;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: white;
}



.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #3586ff;
    color: #FFF;
    height: 50px;
    padding: 1em;
  }
  .top-nav img{
    width: 70px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 10px;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background-color: #FFF;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  .menu__link_head {
    font-size: 1.2rem;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.8;
    font-weight: 300;
  }
  .menu__link_head:hover {
    opacity: 1;
  }



.container {
    display: grid;
    justify-content: center;
    padding-top: 50px;
    gap: 20px;
    grid-template-rows: 320px 320px 320px 320px;
    grid-template-columns: 320px 320px 320px 320px;
    column-gap:  50px;
    row-gap: 50px;
  }
  .box {
    background-color:white;
    place-items: center;
    text-align: center;
    padding: 0px;
    border-radius: 20px;
    border-color: #b4d2ff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  .box:hover {
    background-color: #b4d2ff;
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}
.box img {
    padding-top: 10%;
    height:110px;
    width: auto;
    margin-bottom: 10px;
}
.box p {
    font-size: 16px;
    color: #333;
    margin: 5%;
}
.box h2{
    font-size: 25px;
}
.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #ffffff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.8;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: hsl(224, 100%, 98%);
  margin: 10px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}   
  @media all and (max-width: 700px) {   
    .container{ 
        grid-template-columns: 400px;
    }
    .box img {
        padding-top: 10%;
        height:120px;
        width: auto;
        margin-bottom: 10px;
    }
    .header {
        flex-direction: column;
        align-items: flex-start;
      }
      .nav ul li {
        display: block;
        margin: 10px 0; 
      }
      .logo img {
        width: 50px; 
      }
      .menu-button-container {
        display: flex;
      }
      .menu {
        position: absolute;
        top: 0;
        margin-top: 80px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        transition: 200ms ease-in-out;
      }
      #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      #menu-toggle:checked ~ .menu li {
        height: 2.5em;
        padding: 1em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        background-color: #ffffff;
        /* ksksk */
      }
      .menu > li:not(:last-child) {
        border-bottom: 1px solid #ffffff;
      }
      .menu__link_head {
        font-size: 1.2rem;
        color: #3586ff;
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
        text-decoration: none;
        opacity: 0.8;
        font-weight: 300;
      }
    }
    @media all and ( max-width: 1280px) and (min-width:720px) {   
        .container{
            grid-template-columns: repeat(2, 350px);
            width:auto;
        }
        .box img {
            padding-top: 10%;
            height:90px;
            width: auto;
            margin-bottom: 10px;
        }
        }