body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

#quiz-container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
}

h2 {
    color: darkblue;
    text-align: center;
}

#quiz {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

input[type="radio"] {
    display: none;
}

label {
    display: inline-block;
    background-color: lightgray;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

label:hover {
    background-color: dodgerblue;
    color: white;
}

input[type="radio"]:checked + label {
    background-color: dodgerblue;
    color: white;
    transition: background-color 0.3s ease;
}

/* Добавленный стиль для анимации нажатия на радио-кнопки */
label:active {
    transform: translateY(1px);
}

button {
    background-color: #3586ff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

button:hover {
    background-color: #b4d2ff;
    transition: 200ms ease-in-out;
}

#result {
    color: red;
    margin-top: 20px;
}

#navigation {
    text-align: center;
    margin-top: 20px;
}

#navigation button {
    border-radius: 10px;
    margin: 5px;
    width: 50%;
}

@media only screen and (min-width: 768px) {
    #quiz-container {
        width: 60%;
    }
}

@media only screen and (min-width: 992px) {
    #quiz-container {
        width: 40%;
    }
}
